[**REMOVED**]
account=**REMOVED**
currency=€
date=1
csv_date_format=%d/%m/%Y
ledger_date_format=%Y/%m/%d
default_expense=Expenses:Varie
desc=7
credit=4
debit=-3
delimiter=;
mapping_file=mappings
template_file=template
csv_decimal_comma=1
ledger_decimal_comma=1

[**REMOVED**_addons]
causale=6
description=7

[**REMOVED**]
account=**REMOVED**
currency=€
date=1
csv_date_format=%d/%m/%Y
ledger_date_format=%Y/%m/%d
default_expense=Expenses:Varie
desc=7
credit=4
debit=-3
delimiter=;
mapping_file=mappings
template_file=template
csv_decimal_comma=1
ledger_decimal_comma=1

[**REMOVED**_addons]
causale=6
description=7

[**REMOVED**]
account=**REMOVED**
currency=€
date=1
csv_date_format=%d/%m/%Y
ledger_date_format=%Y/%m/%d
default_expense=Expenses:Varie
desc=6
credit=3
debit=4
delimiter=;
mapping_file=mappings
template_file=template
csv_decimal_comma=0
ledger_decimal_comma=1

[**REMOVED**_addons]
causale=5
description=6
